ITENTIAL_MCP_HOST=0.0.0.0
ITENTIAL_MCP_PORT=443
ITENTIAL_MCP_PLATFORM_HOST=127.0.0.1
ITENTIAL_MCP_PLATFORM_PORT=443
ITENTIAL_MCP_PLATFORM_DISABLE_VERIFY=False
ITENTIAL_MCP_PLATFORM_CLIENT_ID=
ITENTIAL_MCP_PLATFORM_CLIENT_SECRET=
#ITENTIAL_MCP_USERNAME=
#ITENTIAL_MCP_PASSWORD=
ITENTIAL_MCP_PLATFORM_LOG_LEVEL=ERROR
ITENTIAL_MCP_PLATFORM_TIMEOUT=30
#ITENTIAL_MCP_SERVER_INCLUDE_TAGS=get_health,get_workflows,start_workflow
#ITENTIAL_MCP_SERVER_EXCLUDE_TAGS